@model gummi_bear_kingdom.Models.Product

@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="create-page">
    <h2>Create</h2>
    <div class="form-panel">
        <h3>Add a new product</h3>
        <div class="form-group">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, ViewData["attributes"])<br />
                    @Html.TextBoxFor(model => model.Name, new { attributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cost, ViewData["attributes"])<br />
                    @Html.TextBoxFor(model => model.Cost, new { attributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Country, ViewData["attributes"])<br />
                    @Html.TextBoxFor(model => model.Country, new { attributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, ViewData["attributes"])<br />
                    @Html.TextBoxFor(model => model.Image, new { attributes = new { @class = "form-control" } })
                </div>
                <div class="input"><input type="submit" value="Add product" class="button" /></div>
            }
        </div>
        <div class="button">@Html.ActionLink("Back to list", "Index")</div>
    </div>
</div>