@model IEnumerable<gummi_bear_kingdom.Models.Product>

@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="index-page">
    <h2 class="product-index">Gummi Bear Kingdom Products</h2>
    <div class="list-row">
        @foreach (var product in Model)
        {
            <div class="list-panel">
                <img src="@Html.DisplayFor(modelProduct => product.Image)" /> <br />
                @Html.DisplayFor(modelProduct => product.Name) <br /> @Html.ActionLink("Details", "Details", new { id = product.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })<br />
                @Html.DisplayFor(modelProduct => product.Cost)
                <div class="buy-online">buy online</div>
            </div>
        }
    </div>
    <div class="button add-button">@Html.ActionLink("Add new product", "Create")</div>
</div>
